:root {
    --cardSize: 192px;
}

#cardHolder {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    place-content: center;
    gap: var(--gapLarge);

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--background1);

    margin: 6vmin;
    padding: 0px;
}
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: relative;
    width: var(--cardSize);
    height: calc(var(--cardSize) * (1 + 2/3));
    background-color: var(--background3);

    border: solid;
    border-width: var(--gap);
    border-radius: var(--borderRadius1);
    border-color: var(--background3);
    
    .image {
        display: flex;
        align-self: center;

        position: absolute;
        width: var(--cardSize);
        max-height: var(--cardSize);

        background-size: cover;

        box-shadow: none;
    }
    .cardBottom {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: calc(var(--cardSize) * 2/3);

        background-color: var(--background3);

        border: none;
        border-radius: var(--borderRadius2) var(--borderRadius2) calc(var(--borderRadius1) - var(--gap)) calc(var(--borderRadius1) - var(--gap));

        box-shadow: 0px 0px var(--gap) var(--background2), inset 0px 0px var(--gap) var(--background2), inset 0px 0px calc(var(--gap) * 4) var(--gap) var(--background1);
        .text {
            margin-bottom: var(--gap);
        }
    }
    .cardCover {
        pointer-events: none;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        background-image: radial-gradient(circle at top, var(--highlight0P) 0%, var(--background0P) 100%);
        
        border: none;
        border-radius: calc(var(--borderRadius1) - var(--gap));

        box-shadow: inset 0px 0px 0px var(--borderWidth) var(--highlight0P), inset 0px 0px calc(var(--gap) * 1.5) var(--background1);
    }

    margin: 0px;
}
.hand {
    display: flex;
    flex-direction: row;

    position: relative;
    width: var(--cardSize);
    height: calc(var(--cardSize) * (1 + 2/3));

    border: none;
    border-radius: var(--borderRadius1);

    padding: var(--gap);
    .card {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .handCounter {
        text-align: center;
        align-content: center;

        position: absolute;
        left: 35%;
        right: 35%;
        top: calc(var(--cardSize) / -6);
        height: calc(var(--cardSize) / 4);
        background-image: radial-gradient(circle at bottom, var(--highlight1P) 0%, rgb(0,0,0,0));

        border: solid;
        border-width: var(--borderWidth);
        border-top: none;
        border-color: var(--highlight0P);
        border-radius: var(--borderRadius1);
    }
}
.hand:not(:hover) .card {
    transform: none !important;

    transition: transform 0.2s ease-in;
}