:root {
    --cardSize: 192px;
}
.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: absolute;
    left: calc(50% - var(--cardSize)/2  - var(--gap));
    top: calc(50% - var(--cardSize)/(1 + 1/3) - var(--gap));
    width: var(--cardSize);
    height: calc(var(--cardSize) * (1 + 2/3));
    background-color: var(--background3);

    border: solid;
    border-width: var(--gap);
    border-radius: var(--borderRadius1);
    border-color: var(--background3);
    
    .image {
        display: flex;
        align-self: center;

        position: absolute;
        max-width: var(--cardSize);
        max-height: var(--cardSize);

        background-size: cover;

        box-shadow: none;
    }
    .cardBottom {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: calc(var(--cardSize) * 2/3);

        background-color: var(--background1P);

        border: none;
        border-radius: var(--borderRadius2) var(--borderRadius2) calc(var(--borderRadius1) - var(--gap)) calc(var(--borderRadius1) - var(--gap));

        box-shadow: 0px 0px var(--gap) var(--background2), inset 0px 0px var(--gap) var(--background2), inset 0px 0px calc(var(--gap) * 4) var(--gap) var(--background1);
        .text {
            margin-bottom: var(--gap);
        }
    }
    .cardCover {
        pointer-events: none;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;

        background-image: radial-gradient(circle at top, var(--highlight0P) 0%, var(--background0P) 100%);
        
        border: none;
        border-radius: calc(var(--borderRadius1) - var(--gap));

        box-shadow: inset 0px 0px 0px var(--borderWidth) var(--highlight0P), inset 0px 0px calc(var(--gap) * 1.5) var(--background1);
    }

    margin: 0px;
}