:root {
    /* Deny (transparent) */
    --glass1D: rgb(255,128,160);

    /* Progressive (transparent) */
    --glass1P: rgb(224,208,255,33%);

    /* Deny Progressive (transparent) */
    --glass1DP: rgb(255,128,160,66%);
}