:root {
    --dark0: rgb(0,0,8);
    --dark1: rgb(16,16,24);
    --dark2: rgb(24,24,32);

    --highlight0: rgb(255,255,255);
    --highlight1: rgb(24,128,224);
    --highlight2: rgb(32,255,255);
    --highlight3: rgb(16,24,128);

    --overlay1: ;
}