:root {
    --clear: rgb(0,0,0,0);

    --boxSize0: 32px;
    --boxSize0N: calc(-1*var(--boxSize0));
    --boxSize0H: calc(0.5*var(--boxSize0));
    --boxSize0HN: calc(-0.5*var(--boxSize0));
    --boxSize1: 48px;
    --boxSize1N: calc(-1*var(--boxSize1));
    --boxSize1H: calc(0.5*var(--boxSize1));
    --boxSize1HN: calc(-0.5*var(--boxSize1));
    --boxSize2: calc(2*var(--boxSize0));
    --boxSize2N: calc(-1*var(--boxSize2));
    --boxSize3: calc(2*var(--boxSize1));
    --boxSize3N: calc(-1*var(--boxSize3));

    --gap: 4px;
    --gapLarge: 16px;

    --drop: 8px;
    --blur: 8px;
    --grow: 4px;

    --borderRadius0: 32px;
    --borderRadius1: 16px;
    --borderRadius2: 8px;

    --mh: 0;
    --mv: 0;
    --mhr: 0;
    --mvr: 0;

    /* way out */
    --wayOutGap: 6vmin;

    --wayOutborderRadius: 4vmax;
    --wayOutBorderWidth: 0.4vmin;

    --wayOutBlurSmall: 2vmin;
    --wayOutBlurLarge: 5vmin;

    /* inherited */
    color: var(--glow0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    transition: all 0.2s ease-in-out,
                border-radius 0.2s ease-in-out 0.1s,
                box-shadow 0.2s ease-in-out 0.1s;
}
* {
    transition: inherit;
}
body {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--background1);

    margin: 6vmin;
    padding: 0px;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(0,0,0);
    }
}

#viewSpaceHolder {
    z-index: 0;
    display: flex;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
#versport {
    align-items: center;
    place-content: center;

    position: relative;
    min-width: calc(2*var(--wayOutGap));
}
#versionDisplay {
    font-size: large;
}

#blurAll {
    visibility: hidden;
    display: flex;
    align-items: center;
    place-content: center;
    flex-direction: column;

    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    padding: var(--wayOutGap);

    backdrop-filter: blur(1vmin);
    -webkit-backdrop-filter: blur(1vmin);
    &.active {
        visibility: visible;
    }
}
#windowUIHolder {
    display: flex;
    align-self: center;
    place-self: center;
    gap: var(--gapLarge);

    position: absolute;
    min-width: 200px;
    width: max-content;
    max-width: 100%;
    height: max-content;
    max-height: 100%;

    border-radius: var(--borderRadius0);

    padding: var(--gapLarge);

    .row {
        gap: var(--gapLarge);
        flex-grow: 1;

        position: relative;
        height: fit-content;
    }
    .collumn {
        cursor: grab;
        flex-grow: 1;

        position: relative;
        min-height: var(--boxSize1);
        min-width: var(--boxSize1);

        border-radius: var(--borderRadius1);

        transition: all 0.2s ease-in-out;
        &.locked {
            cursor: not-allowed;
            &.locked {
                box-shadow: 0px 0pc var(--blur) var(--highlight0DP);
            }
        }
        &.empty {
            cursor: default;

            background-color: var(--background0P);
        
            border-color: var(--highlight1P);
            &.inset {
                box-shadow: 0px 0pc var(--blur) var(--shadow1P), inset 0px 0pc var(--blur) var(--shadow2P);
            }
        }
        &.full {
            width: var(--boxSize3);
            height: var(--boxSize3);
        }
        &.horizontal {
            width: var(--boxSize3);
            height: var(--boxSize1);
            &.tiny {
                width: var(--boxSize1);
                height: var(--boxSize1);
            }
        }
        &.vertical {
            width: var(--boxSize1);
            height: var(--boxSize3);
        }
    }
}

*:has(> .row) {
    display: flex;
    flex-direction: column;
    gap: var(--wayOutGap);

    padding: var(--wayOutGap);
}
.row {
    display: flex;
    flex-direction: row;
    gap: var(--wayOutGap);

    position: relative;
    width: 100%;
    min-height: var(--wayOutGap);
}
.collumn {
    display: flex;
    
    position: relative;
    min-width: var(--wayOutGap);
    height: 100%;
}

#windowPreview {
    z-index: 100;
    pointer-events: none;

    cursor: grabbing;

    position: fixed;
    left: var(--mh);
    top: var(--mv);

    transition: none;
    * {
        position: absolute;
        top: 0px;
        left: -50vmax;
        width: 100vmax;
        height: 0px;

        border-radius: var(--borderRadius1);

        opacity: 0;

        transition: all 0.2s ease-in-out, top 0.2s ease-out 0.1s, height 0.2s ease-out 0.1s;
    }
    &.holding {
        pointer-events: all;

        * {
            opacity: 1;
        }
        .full {
            left: var(--boxSize1N);
            top: var(--boxSize1N);
            width: var(--boxSize3);
            height: var(--boxSize3);
        }
        .horizontal {
            left: var(--boxSize1N);
            top: var(--boxSize1HN);
            width: var(--boxSize3);
            height: var(--boxSize1);
            &.tiny {
                left: var(--boxSize1HN);
                top: var(--boxSize1HN);
                width: var(--boxSize1);
                height: var(--boxSize1);
            }
        }
        .vertical {
            left: var(--boxSize1HN);
            top: var(--boxSize1N);
            width: var(--boxSize1);
            height: var(--boxSize3);
        }
    }
}

.window {
    display: flex;
    z-index: 1;
    flex-grow: 1;

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: var(--background2);

    border-radius: var(--wayOutborderRadius);

    transition: inherit;
}
.glass {
    background-color: var(--glass1P);

    border-style: solid;
    border-width: 1px;
    border-color: var(--highlight0P);

    backdrop-filter: blur(1vmin);
    -webkit-backdrop-filter: blur(1vmin);

    &.locked {
        background-color: var(--glass1DP);
    }
}
.above {
    box-shadow: 0px var(--drop) var(--blur) var(--grow) var(--shadow0P);
    &.glass {
        background-color: color-mix(in oklab, var(--glass1P) 100%, var(--shadow0P) 50%);

        box-shadow: 0px var(--drop) var(--blur) var(--grow) var(--shadow0P), inset 0px var(--grow) var(--blur) color-mix(in oklab, var(--glass1P) 100%, var(--shadow0P) 0%);
    }
}
.inset {
    box-shadow: 0px 0pc var(--blur) var(--highlight0P);
}
.glow {
    border-style: solid;
    border-width: var(--wayOutBorderWidth);
    border-color: var(--glow1);
    
    box-shadow: inset 0px 0px var(--wayOutBlurSmall) var(--glow2),
                inset 0px 0px var(--wayOutBlurLarge) var(--glow3),
                0px 0px var(--wayOutBlurSmall) var(--glow2),
                0px 0px var(--wayOutBlurLarge) var(--glow3);
}